.node {
    -fx-border-color: black;
    -fx-background-color: #FFFFFF;
}

.node_input {
    -fx-border-color: black;
    -fx-background-color: #B4E9C2;
}

.node_result {
    -fx-border-color: black;
    -fx-background-color: #C3DEEF;
}

.dis {
    -fx-background-color: #F4F4F4;
}

.dis_input {
    -fx-background-color: #B4E9C2;
}

.dis_result {
    -fx-background-color: #C3DEEF;
}